[submodule "themes/next"]
	path = themes/next
	url = git@github.com:Nieg/hexo-theme-next.git
[submodule "source/lib/three"]
	path = source/lib/three
	url = https://github.com/theme-next/theme-next-three
